<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YOOX_NET_PORTER.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5CF533720D9200E00C76A1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5CF534B20D9201300C76A1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5CF535620D9201300C76A1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
